gradio
requests
langchain
langchain-community
langchain-core
langgraph
langchain-openai
ddgs
langchain-tavily
wikipedia
arxiv
transformers
torch
openai-whisper
pandas
openpyxl
python-dotenv
pydub
torchaudio
google-genai